.board {
    width: 910px;
    margin: 0 auto;
}

.topRow {
    @include flexRow(space-between);
}
.foundations {
	@include flexRow(flex-start);
	.foundation {
		position: relative;
		margin: 10px;
        width: 110px;
		height: 149px;
        border: 2px solid white;
        border-radius: 10px;
	}
	.card {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 96px;
	}
}

.deckContainer {
    @include flexRow();
    width: 260px;
}
.hand,
.waste {
		margin: 10px;
		height: 149px;
		width: 110px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
}



.dummyCard {
    width: 100%;
    height: 100%;
    background: $accent;
    border: 2px solid white;
    border-radius: 5px;
    &:focus {
        outline: 2px solid red;
    }
    &.emptyHand {
        background: $primary;
    }
}

.tableau {
	height: 100vh;
	@include flexRow(center, flex-start);
}
.pile {
    width: 110px;
	padding: 5px;
	min-height: 149px;
    border-top: 2px solid white;
    border-radius: 10px;
	margin: 0 10px;
}
.card {
	border: 2px solid white;
	border-radius: 5px;
    position: relative;
    &:focus {
        outline:5px solid red;
    }
}
.card.down {
	background: $accent;
	height: 20px;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
	&:after {
		content: "";
		width: calc(100% + 4px);
		border-left: 2px solid white;
		border-right: 2px solid white;
		background: $accent;
		height: 5px;
		position: absolute;
		left: -2px;
		bottom: -5px;
	}
	p {
		display: none;
	}
}
.pile .card.up p {
    display: inline-block;
}
.card.up {
	height: 135px;
	border: 1px solid black;
	background: white;
	@include flexRow(space-between, flex-start, wrap);
	p {
        line-height: 0;
        font-size: calc(20px + 0.5vw);
		width: 50%;
        text-align: center;
        transform: translateY(-5px);
	}
	.bigSuit {
		font-size: calc(20px + 4vw);
		margin: 0 auto;
	}
	&.colour1 {
		color: darkred;
	}
	&:not(:last-of-type) {
        @extend .card.down;
        height: 30px;
		&:after {
			background: white;
			border-radius: 1px;
			border-color: black;
		}
		background: white;
		.bigSuit {
			display: none;
		}
	}
}
