html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.padding {
  padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background: #345231;
  font-size: 62.5%;
}

.board {
  width: 910px;
  margin: 0 auto;
}

.topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.foundations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 57.14%;
}

.foundations .foundation {
  position: relative;
  margin: 10px;
  width: 110px;
  height: 149px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.foundations .card {
  position: absolute;
  width: calc(100% - 10px);
}

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 14.28%;
  height: 149px;
  margin: 10px;
}

.optionsContainer button {
  position: relative;
  display: inline-block;
  background: #E4A436;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: #F6F6F6;
}

.optionsContainer button:active {
  background: #9f6c15;
}

.optionsContainer .activeMode {
  background: #9f6c15;
}

.optionsContainer .activeMode:before {
  content: " ";
  width: calc(100% + 15px);
  position: absolute;
  left: -7.5px;
  top: -5px;
  height: calc(100% + 10px);
  border-radius: 5px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.deckContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 28.57%;
}

.hand,
.waste {
  margin: 10px;
  height: 149px;
  width: 110px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.dummyCard {
  width: 100%;
  height: 100%;
  background: #E4A436;
  border: 2px solid white;
  border-radius: 5px;
}

.dummyCard:focus {
  outline: 2px dashed #709B6B;
}

.dummyCard.emptyHand {
  background: #345231;
}

.tableau {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pile {
  width: 110px;
  padding: 5px;
  min-height: 149px;
  border-top: 2px solid white;
  border-radius: 10px;
  margin: 0 10px;
}

.card {
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
}

.card:focus {
  outline: 2px dashed #709B6B;
}

.card.down, .card.up:not(:last-of-type) {
  background: #E4A436;
  height: 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.card.down:after, .card.up:not(:last-of-type):after {
  content: "";
  width: calc(100% + 4px);
  border-left: 2px solid white;
  border-right: 2px solid white;
  background: #E4A436;
  height: 5px;
  position: absolute;
  left: -2px;
  bottom: -5px;
}

.card.down p, .card.up:not(:last-of-type) p {
  display: none;
}

.pile .card.up p {
  display: inline-block;
}

.card.up {
  height: 135px;
  border: 1px solid black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card.up p {
  line-height: 0;
  font-size: calc(20px + 0.5vw);
  width: 50%;
  text-align: center;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card.up .bigSuit {
  font-size: calc(20px + 4vw);
  margin: 0 auto;
}

.card.up.colour1 {
  color: darkred;
}

.card.up:not(:last-of-type) {
  height: 30px;
  background: white;
}

.card.up:not(:last-of-type):after {
  background: white;
  border-radius: 1px;
  border-color: black;
}

.card.up:not(:last-of-type) .bigSuit {
  display: none;
}

@media (max-width: 910px) {
  .tableau,
  .topRow,
  .board {
    width: 100vw;
  }
  .pile {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .foundations .foundation,
  .hand,
  .waste {
    margin: 10px 5px;
  }
  .pile {
    width: 100%;
    margin: 0 5px;
  }
}

@media (max-width: 560px) {
  .optionsContainer {
    margin: 10px 5px;
  }
  .optionsContainer button {
    font-size: 14px;
    padding: 2.5px 0;
  }
  .foundations .foundation,
  .optionsContainer,
  .hand,
  .waste {
    height: 114px;
  }
  .pile {
    border: none;
    padding: 0;
  }
  .card.up {
    height: 100px;
  }
  .card.up p {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .card.down, .card.up:not(:last-of-type) {
    height: 16px;
  }
  .card.up:not(:last-of-type) {
    height: 25px;
  }
}

@media (max-width: 475px) {
  .foundations .foundation,
  .optionsContainer,
  .hand,
  .waste {
    height: 100px;
    padding: 0;
    border: 2px dashed #cfcfcf;
  }
  .optionsContainer {
    border: none;
    width: calc(14.28% - 10px);
  }
  .optionsContainer button {
    border-width: 1px;
  }
  .optionsContainer .activeMode::before {
    top: -2.5px;
    left: -5px;
    height: calc(100% + 5px);
    border-width: 1px;
    width: calc(100% + 10px);
  }
  .foundations .foundation {
    padding: 0;
  }
  .foundations .foundation .card {
    width: calc(100% + 4px);
    height: 100px;
    top: -2px;
    left: -2px;
    border-radius: 5px;
  }
  .foundations .foundation .card:after {
    width: 100%;
    left: 0;
    background: #345231;
    bottom: 5px;
  }
  .dummyCard {
    position: relative;
  }
  .dummyCard,
  .waste .card {
    width: calc(100% + 4px);
    height: 100px;
    top: -2px;
    left: -2px;
  }
  .dummyCard.emptyHand {
    border: 2px dashed #cfcfcf;
  }
}

@media (max-width: 440px) {
  .foundations .foundation,
  .foundations .foundation .card,
  .optionsContainer,
  .hand,
  .waste,
  .dummyCard,
  .card.up {
    height: 80px;
  }
  .foundations .foundation p,
  .foundations .foundation .card p,
  .optionsContainer p,
  .hand p,
  .waste p,
  .dummyCard p,
  .card.up p {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .card.down, .card.up:not(:last-of-type) {
    height: 10px;
  }
  .card.up:not(:last-of-type) {
    height: 25px;
  }
  .card.up .bigSuit {
    font-size: calc(16px + 4vw);
  }
  .card.up p {
    font-size: calc(16px + 0.5vw);
  }
  .optionsContainer button {
    padding: 1px 0;
  }
  .optionsContainer button.newGame {
    line-height: 1;
  }
  .foundations .foundation,
  .hand,
  .waste {
    margin: 10px 3px;
  }
  .pile {
    width: 100%;
    margin: 0 3px;
  }
}

@media (max-width: 350px) {
  .foundations .foundation,
  .hand,
  .waste {
    margin: 10px 2px;
  }
  .pile {
    width: 100%;
    margin: 0 2px;
  }
}
